absl-py==1.4.0
aiohttp 
aiosignal
anyio==3.7.1
apex
argilla==1.16.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.2.1
astunparse==1.6.3
async-timeout
attrs==23.1.0
audioread==3.0.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.6.2
blis==0.7.9
cachetools==5.3.1
catalogue==2.0.8
certifi==2023.5.7
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.1.0
chromadb==0.3.23
click
clickhouse-connect==0.6.13
cloudpickle
cmake==3.26.4
colorclass==2.2.2
comm==0.1.3
compressed-rtf==1.0.6
confection==0.1.0
contourpy==1.1.0
cpm-kernels==1.0.11
cryptography==41.0.4
cubinlinker  
cuda-python  
cudf  
cugraph  
cugraph-dgl  
cugraph-service-client  
cugraph-service-server  
cuml  
cupy-cuda12x  
cycler==0.11.0
cymem==2.0.7
Cython==0.29.36
dask  
dask-cuda  
dask-cudf  
dataclasses-json==0.5.14
datasets==2.14.5
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.7
diskcache==5.6.3
distributed  
dm-tree==0.1.8
duckdb==0.8.1
easygui==0.98.3
ebcdic==1.1.1
einops==0.6.1
et-xmlfile==1.1.0
exceptiongroup==1.1.2
execnet==1.9.0
executing==1.2.0
expecttest==0.1.3
extract-msg==0.41.1
fastapi==0.103.1
fastjsonschema==2.17.1
fastrlock  
filelock==3.12.2
flash-attn==1.0.7
Flask==2.3.3
Flask-Cors==4.0.0
fonttools==4.40.0
frozenlist  
fsspec==2023.6.0
gast==0.5.4
google-auth
google-auth-oauthlib==0.4.6
gpt4all==0.2.3
graphsurgeon  
greenlet==2.0.2
grpcio==1.56.0
h11==0.14.0
hnswlib==0.7.0
httpcore==0.16.3
httptools==0.6.0
httpx==0.23.3
huggingface-hub==0.17.1
hypothesis==5.35.1
idna==3.4
IMAPClient==2.3.1
importlib-metadata  
iniconfig==2.0.0
intel-openmp==2021.4.0
ipykernel==6.24.0
ipython==8.14.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib  
json5==0.9.14
jsonschema==4.18.0
jsonschema-specifications==2023.6.1
jupyter-tensorboard @ git+https://github.com/cliffwoolley/jupyter_tensorboard.git@ffa7e26138b82549453306e06b535a9ac36db17a
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyterlab==2.3.2
jupyterlab-pygments==0.2.2
jupyterlab-server==1.2.0
jupytext==1.14.7
kiwisolver==1.4.4
langchain==0.0.177
langcodes==3.3.0
lark-parser==0.12.0
librosa==0.9.2
llama-cpp-python==0.1.53
llvmlite==0.40.1
locket  
lxml==4.9.3
lz4==4.3.2
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mistune==3.0.1
mkl==2021.1.1
mkl-devel==2021.1.1
mkl-include==2021.1.1
mock==5.0.2
monotonic==1.6
mpmath==1.3.0
msg-parser==1.2.0
msgpack  
msoffcrypto-tool==5.1.1
multidict  
multiprocess==0.70.15
murmurhash==1.0.9
mypy-extensions==1.0.0
nbclient==0.8.0
nbconvert==7.6.0
nbformat==5.9.0
nest-asyncio==1.5.6
networkx==2.6.3
ninja==1.11.1
nltk==3.8.1
notebook==6.4.10
numba  
numexpr==2.8.6
numpy
nvidia-dali-cuda120==1.27.0
nvidia-pyindex==1.0.9
nvtx  
oauthlib==3.2.2
olefile==0.46
oletools==0.60.1
onnx  
openapi-schema-pydantic==1.2.4
opencv  
openpyxl==3.1.2
packaging==23.1
pandas  
pandoc==2.3
pandocfilters==1.5.0
parso==0.8.3
partd  
pathy==0.10.2
pcodedmp==1.2.6
pdfminer.six==20221105
pexpect==4.8.0
pickleshare==0.7.5
Pillow  
platformdirs==3.8.0
pluggy==1.2.0
plumbum==1.8.2
ply  
pooch==1.7.0
posthog==3.0.2
preshed==3.0.8
prettytable==3.8.0
prometheus-client==0.17.0
prompt-toolkit==3.0.39
protobuf==3.20.3
psutil  
ptxcompiler  
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow  
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.10.4
pycocotools @ git+https://github.com/nvidia/cocoapi.git@fa44301f7a8b3f95a9f2751d19bfd735b0f6c65d#subdirectory=PythonAPI
pycparser==2.21
pydantic==1.10.11
Pygments==2.15.1
pylibcugraph  
pylibcugraphops  
pylibraft  
PyMuPDF==1.23.4
PyMuPDFb==1.23.3
pynvml  
pypandoc==1.11
pyparsing==2.4.7
pytest==7.4.0
pytest-flakefinder==1.1.0
pytest-rerunfailures==12.0
pytest-shard==0.1.2
pytest-xdist==3.3.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-hostlist==1.23.0
python-magic==0.4.27
python-pptx==0.6.22
pytorch-quantization==2.1.2
pytz  
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyzmq==25.1.0
raft-dask  
red-black-tree-mod==1.20
referencing==0.29.1
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
resampy==0.4.2
rfc3986==1.5.0
rich==13.5.3
rmm  
rpds-py==0.8.8
rsa==4.9
RTFDE==0.0.2
scikit-learn  
scipy  
Send2Trash==1.8.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.16.0
smart-open==6.3.0
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.4.1
spacy==3.5.4
spacy-legacy==3.0.12
spacy-loggers==1.0.4
sphinx-glpi-theme==0.3
SQLAlchemy==2.0.21
srsly==2.4.6
stack-data==0.6.2
starlette==0.27.0
sympy==1.12
tabulate==0.9.0
tbb==2021.9.0
tblib  
tenacity==8.2.3
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorrt  
terminado==0.17.1
thinc==8.1.10
threadpoolctl==3.1.0
thriftpy2  
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
toolz  
torch==1.13.0
torch-tensorrt  
torchaudio==0.13.0
torchdata  
torchtext  
torchvision==0.14.0
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
transformer-engine @ git+https://github.com/NVIDIA/TransformerEngine.git@96ed6fc69d99a9cff49637dbc58c837c8d921ad7
transformers==4.28.1
treelite  
treelite-runtime  
triton  
typer==0.7.0
types-dataclasses==0.6.6
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==4.2
ucx-py  
uff  
unstructured==0.6.6
urllib3==2.0.2
uvicorn==0.23.2
uvloop==0.17.0
wasabi==1.1.2
watchfiles==0.20.0
wcwidth==0.2.6
webencodings==0.5.1
websockets==11.0.3
Werkzeug==2.3.7
wrapt==1.14.1
xdoctest==1.0.2
xgboost  
XlsxWriter==3.1.4
xxhash==3.3.0
yarl  
zict  
zipp  
zstandard==0.21.0
